{% extends 'includes/layout.html' %}


{% block body %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<style>
  #order-button2 {
    outline: none !important;
    border: none !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #FF7900;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0px;
    outline: 0px;
  }

  #order-button2:hover {
    background-color: #b65501;
  }

  #order-button1 {
    outline: none !important;
    border: none !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #7f28a7;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0px;
    outline: 0px;
  }

  #order-button1:hover {
    background-color: #561b72;
  }

  #order-button3 {
    outline: none !important;
    border: none !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #0c6d46;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0px;
    outline: 0px;
  }

  #order-button3:hover {
    background-color: #044c2f;
  }
</style>

<main class="container ">
  <br>
  <div class="row p-5 mt-5">
    <div class="col-lg-4 order-sm-12">
      <div class="p-1"></div>
      <div class="row" style="font-size: 0.95rem;">
        <div class="col-lg-1"></div>
        <div class="col-lg-9" style="width: 100% !important; padding: 0px; border: 0px;">
          <div>
            <center style=" color: #7f28a7;">
              <div style="font-size: 3.0rem; font-weight: 600;">&#8377; 2 for Identification</div>
              <div style="font-size: 1.3rem; font-weight: 500;">XYZ Months Subscription</div>
              <div style="font-size: 2.0rem; font-weight: 600;">{{subscriptions[1].title}}</div>
            </center>
            <div class="p-2"></div>
          </div>
          <div class="card" style="width: 100% !important; padding: 0px; border: 0px;">
            <div class="inner-text text-center p-2 mb-1 abcd" style="color: #7f28a7;">FREE TIER</div>
            {% for x in subscriptions[0].includes  %}
            <div class="inner-text"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>{{ x }}</div>
            {% endfor %}
            <hr>
            <div style="font-size: 1.2rem; font-weight: 500; color: #7f28a7;" class="text-center">Life Time Access</div>
            <div class="p-2"></div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 1</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 2</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 3</div>
            <div class="p-3"></div>
            <div id="order-button1" class="btn btn-success p-3">Enroll Now</div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="col-lg-4 order-sm-12">
      <div class="p-1"></div>
      <div class="row" style="font-size: 0.95rem;">
        <div class="col-lg-1"></div>
        <div class="col-lg-9" style="width: 100% !important; padding: 0px; border: 0px;">
          <div>
            <center style=" color: #FF7900;">
              <div style="font-size: 3.0rem; font-weight: 600;">&#8377; 2 for Identification</div>
              <div style="font-size: 1.3rem; font-weight: 500;">XYZ Months Subscription</div>
              <div style="font-size: 2.0rem; font-weight: 600;">{{subscriptions[1].title}}</div>
            </center>
            <div class="p-2"></div>
          </div>
          <div class="card" style="width: 100% !important; padding: 0px; border: 0px;">
            <div class="inner-text text-center p-2 mb-1 abcd" style="color: #FF7900;">FREE TIER</div>
            {% for x in subscriptions[1].includes  %}
            <div class="inner-text"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>{{ x }}</div>
            {% endfor %}
            <hr>
            <div style="font-size: 1.2rem; font-weight: 500; color: #FF7900;" class="text-center">Life Time Access
            </div>
            <div class="p-2"></div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 1</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 2</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 3</div>
            <div class="p-3"></div>
            <div id="order-button2" class="btn btn-success p-3">Enroll Now</div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="col-lg-4 order-sm-12">
      <div class="p-1"></div>
      <div class="row" style="font-size: 0.95rem;">
        <div class="col-lg-1"></div>
        <div class="col-lg-9" style="width: 100% !important; padding: 0px; border: 0px;">
          <div>
            <center style=" color: #0c6d46;">
              <div style="font-size: 3.0rem; font-weight: 600;">&#8377; 2 for Identification</div>
              <div style="font-size: 1.3rem; font-weight: 500;">XYZ Months Subscription</div>
              <div style="font-size: 2.0rem; font-weight: 600;">{{subscriptions[2].title}} </div>
            </center>
            <div class="p-2"></div>
          </div>
          <div class="card" style="width: 100% !important; padding: 0px; border: 0px;">
            <div class="inner-text text-center p-2 mb-1 abcd" style="color: #0c6d46;">FREE TIER</div>
            {% for x in subscriptions[2].includes  %}
            <div class="inner-text"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>{{ x }}</div>
            {% endfor %}
            <hr>
            <div style="font-size: 1.2rem; font-weight: 500; color: #0c6d46;" class="text-center">Life Time Access
            </div>
            <div class="p-2"></div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 1</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 2</div>
            <div class="inner-text text-center"><i class="fas fa-check okay mb-2 ml-lg-4 ml-3 mr-3"></i>Point 3</div>
            <div class="p-3"></div>
            <div id="order-button3" class="btn btn-success p-3">Enroll Now</div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

</main>

<script>
  function onClickOrder(event, amount, description, type, themeColor) {
    const xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function (res) {
      if (xmlHttp.readyState === 4) {
        const error_msg = "Sorry, an internal error occured!";
        let response;
        try {
          response = JSON.parse(xmlHttp.responseText);
        } catch (err) {
          return alert(error_msg);
        }
        if (!response.success) {
          if (response.redirect) {
            window.location.href = response.redirect;
          } else {
            alert(response.msg || error_msg);
          }
          return;
        }
        const options = {
          "key": "rzp_test_UJJjpGLL14Eki4",
          "currency": "INR",
          "name": "Saber AI",
          "description": description,
          "image": "/favicon.ico",
          "subscription_id": response.subscription_id,
          // "order_id": response.order_id,
          "handler": function (razorpay_response) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function (res) {
              if (xmlHttp.readyState === 4) {
                const error_msg =
                  "Sorry, an error occured while processing your payment.\nPlease email us your details, and we will look into it ";
                let payment_verification_response;
                try {
                  payment_verification_response = JSON.parse(xmlHttp.responseText);
                } catch (err) {
                  return alert(error_msg);
                }
                if (!payment_verification_response.success) {
                  return alert(payment_verification_response.msg || error_msg);
                } else {
                  window.location.href = "/";
                  // trigger_g_analytics_purchase(type, amount / 100, response.order_id);
                }
              }
            }
            xmlHttp.open("POST", '/payment/verify', true); // false for synchronous request
            xmlHttp.setRequestHeader("Content-type", "application/json");
            xmlHttp.send(JSON.stringify(Object.assign(razorpay_response, response)));
          },
          "prefill": {
            "name": "{{ name }}",
            "email": "{{ email }}",
            "contact": ""
          },
          "theme": {
            "color": themeColor
          }
        };
        const razorpay = new Razorpay(options);
        razorpay.open();
        event.preventDefault();
      }
    }
    xmlHttp.open("POST", '/payment', true); // false for synchronous request
    xmlHttp.setRequestHeader("Content-type", "application/json");
    xmlHttp.send(JSON.stringify({
      amount
    }));
  }
  document.getElementById('order-button1').onclick = function (event) {
    onClickOrder(event, 49900, "All-In-One Monthly Course Package", "Monthly", "#7f28a7");
  }
  document.getElementById('order-button2').onclick = function (event) {
    onClickOrder(event, 179400, "All-In-One Premium Course Package", "Premium", "#FF7900");
  }
  document.getElementById('order-button3').onclick = function (event) {
    onClickOrder(event, 179400, "All-In-One Premium Course Package", "Legendary", "#7f28a7");
  }
</script>

{% endblock %}