  <main class="container" style="margin:100px ;">
    <form method="POST" action="/signup">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <h2>Signup</h2>
      <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email">
      </div>
      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
      </div>
      <input type="submit" value="Sign Up">
    </form>
  </main>