{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <br>
  <div style="background:#E0E0E0; text-align:center; " class=" p-5 rounded mt-5">
    <h1>Saber AI Content Generator</h1>
    <!-- <p class="lead">
    </p> -->
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">


      <!-- One Item Starts Here -->

      <!-- <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Product Description
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🛍️ Generate Product Descriptions 🛍 ️</h5>
            <p class="card-text">Generate product descriptions for any types of products, simply enter the name and productdescription to get started.</p>
            <a href="/product-description" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div> -->

      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->

      <!-- <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Job Description
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🖥️ Generate Job Descriptions 🖥️ </h5>
            <p class="card-text">Are you trying to come up with professional sounding job descriptions but have hit a writers block? Let AI help you along. </p>
            <a href="/job-description" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div> -->

      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Email Gen
          </div>
          <div class="card-body">
            <h5 class="card-title"> ✉️ Generate Emails</h5>
            <p class="card-text"> The Saber writing tool will allow you to generate full fledged emails out of bullet points using GPT3's advance text generation AI.</p>
            <a href="/email-gen" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Blog/Article Gen
          </div>
          <div class="card-body">
            <h5 class="card-title">💼 Blog/Article Generation</h5>
            <p class="card-text"> Generate professional article and blogs by giving outline. <br>Give keywords for good fit with Search Engine Optimization.
               </p>
            <br>
            <a href="/blog-article" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Tweet Ideas
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🐦 Generate Tweets</h5>
            <p class="card-text">Start generating tweet ideas with hashtags for your online social media campaigns on twitter.</p><br><br>
            <a href="/tweet-ideas" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Cold Emails
          </div>
          <div class="card-body">
            <h5 class="card-title"> ✉️ Cold Email Template</h5>
            <p class="card-text">Perfect for marketing agents or companies who need fresh ideas daily on cold email content that is created by using Artificial Intelligence. </p>
            <a href="/cold-emails" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Social Media
          </div>
          <div class="card-body">
            <h5 class="card-title"> 👨‍👩‍👧‍👦 Social Media Adverts</h5>
            <p class="card-text">Looking for some creative social media advert ideas for your online campaigns on Facebook, Twitter or Instagram? We got you. </p>
            <a href="/social-media" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Code Generation
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🖥 Code Generation</h5>
            <p class="card-text"> Generate code by giving its usecase. </p>
            <br><br>
            <a href="/business-pitch" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <section class="section">
        <div class="container">
          <button class="button is-primary" id="submitBtn">Purchase!</button>
        </div>
      </section>
      

    </div>
  </div>
</main>
{% endblock %}
